In [1]:
import pandas as pd
import sweetviz
train =pd.read_csv("train2.csv")

In [2]:
train.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [4]:
my_report = sweetviz.analyze([train, "Train"],target_feat='math score')

                                   |                         | [  0%]   00:00  -> (? left)
Summarizing dataframe:             |                         | [  0%]   00:00  -> (? left)
:TARGET::                          |██▎                  | [ 11%]   00:00  -> (00:00 left)
:TARGET::                          |████▋                | [ 22%]   00:00  -> (00:03 left)
:gender:                           |████▋                | [ 22%]   00:00  -> (00:03 left)
:gender:                           |███████              | [ 33%]   00:01  -> (00:02 left)
:race/ethnicity:                   |███████              | [ 33%]   00:01  -> (00:02 left)
:race/ethnicity:                   |█████████▎           | [ 44%]   00:02  -> (00:02 left)
:parental level of education:      |█████████▎           | [ 44%]   00:02  -> (00:02 left)
:parental level of education:      |███████████▋         | [ 56%]   00:02  -> (00:02 left)
:lunch:                            |███████████▋         | [ 56%]   00:02  -> (00:02 left)
:lunch:                            |██████████████       | [ 67%]   00:03  -> (00:01 left)
:test preparation course:          |██████████████       | [ 67%]   00:03  -> (00:01 left)
:test preparation course:          |████████████████▎    | [ 78%]   00:03  -> (00:01 left)
:reading score:                    |████████████████▎    | [ 78%]   00:03  -> (00:01 left)
:reading score:                    |██████████████████▋  | [ 89%]   00:05  -> (00:00 left)
:writing score:                    |██████████████████▋  | [ 89%]   00:05  -> (00:00 left)
:writing score:                    |█████████████████████| [100%]   00:06  -> (00:00 left)
:FEATURES DONE:                    |█████████████████████| [100%]   00:06  -> (00:00 left)

                                   |                         | [  0%]   00:00  -> (? left)
:Processing Pairwise Features:     |                         | [  0%]   00:00  -> (? left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:00  -> (00:00 left)

Creating Associations graph... DONE!

In [5]:
my_report.show_html()